.header-container {
    margin: 5%;
    margin-bottom: 0%;
}

.header {
    display: flex; 
    margin-bottom: 5%;
}

.social-message {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: #232837;
    font-weight: 800;
    font-size: small;
}

.title-text {
    font-size: large;
    font-weight: 800;
    color: grey;
    padding-top: 15px;
    margin-left: 12px;
}
.description-container {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin-bottom: 5%;
}
.countries {
    color: #cc0000;
    font-size: medium;
    margin-bottom: 2%;
    font-weight: 600;
}

.description {
    text-align: justify;
}

.date-container {
    display: flex;
    flex-direction: column;
}

.date-updates {
    font-size: medium;
    margin-bottom: 1%;
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(241, 20, 20);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
}

.date-text {
    color: gray;
    text-align: center;
}

.date-update {
    font-size: medium;
    color: gray;
    text-align: center;
    margin-bottom: 1%;
}

.date-updates-text {
    font-size: smaller;
}

#loading {
    -webkit-animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}