<div class="footer-container">
    <img class="who-image" src="assets/who.jpg">
    <div class="footer-icons">
        <a href="https://github.com/ashansh/Covid-19-Tracker"><img class="font-awesome" src="assets/github-brands.svg"></a>
        <a href="https://www.linkedin.com/in/ashansh-lokhande/"><img class="font-awesome" src="assets/linkedin-brands.svg"></a>
        <a href="https://angular.io/"><img class="font-awesome" src="assets/angular-brands.svg"></a>
        <a class="news-api" href="https://newsapi.org/">Powered By News Api</a>
    </div>
    <div class="post-script">Made with <span class="hearts">&#9829;</span> by Ashash Lokhande in India.</div>
    <div class="post-script">v1.0 Best viewed in mobile devices.</div>
</div>